/* Global styles */
body {
  background-color: white;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark {
  background-color: #121212; /* لون خلفية داكن */
  color: white; /* لون النص داكن */
}

/* عناصر أخرى يمكن تخصيصها بناءً على الوضع الداكن */
.navbar, .footer, .card {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark .navbar {
  background-color: #1f1f1f;
}

body.dark .card {
  background-color: #2b2b2b;
  color: white;
}
